@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

h1, h2, h3, h4, h5, p, ul li, a {
  font-family: 'Raleway';
}

h1 {
  font-size:2.8em;
  margin: 40px 0 25px 0;
}

p {
  color:#95989A;
}
