@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


h1, h2, h3, h4, h5, p, ul li, a {
  font-family: 'Raleway';
}

h1 {
  font-size:2.8em;
  margin: 40px 0 25px 0;
}

p {
  color:#95989A;
}

.fs-12 {
  font-size: 12px;
}


.rtl {
  .sidebar {
    left: auto !important;
    right: 0 !important;
    > ul.list-group {
      padding: 0;
    }
  }
  .main-container {
    margin-left: 0 !important;
    margin-right: 235px;
  }
  /*rtl dropdown items correction*/
  .dropdown-menu {
    text-align: right;
  }
  * {
    direction: rtl;
  }
}
@media screen and (max-width: 992px) {
  .rtl {
    .navbar-brand {
      direction: ltr;
    }
    .sidebar {
      right: -235px !important;
    }
    .main-container {
      margin-right: 0;
    }
    &.push-right {
      .sidebar {
        left: auto !important;
        right: 0 !important;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
    .sidebar-toggle {
      left: 235px !important;
    }
  }
}
