
:host{
  text-align:left;
  position:relative;
  width:5px;
  height:50px;
  display:inline-block;
  margin:0 4px;
}
:host:before,
:host:after{
  width:5px;
  height:5px;
  content:'';
  position:absolute;
  left:0;
  top:14px;
  background-color:#272e38;
}

:host:after{
  top:34px;
}
