<div class="row">
  <div class="col col-xl-6 col-lg-12">
    <h3>User Detail</h3>
    <br/><br/>
    <div *ngIf="user">
      <div class="form-group">
        <label>First Name:</label>
        <p>{{user.firstname}}</p>
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <p>{{user.lastname}}</p>
      </div>
      <div class="form-group">
        <label>Email / Username:</label>
        <p>{{user.username}}</p>
      </div>

      <div class="form-group">
        <label>Phone number:</label>
        <p>{{user.phoneNumber}}</p>
      </div>

      <div class="form-group">
        <label>Address:</label>
        <h5>Address line 1</h5>
        <input class="form-control" [(ngModel)]="user.address.addressLine1"/>
        <h5>Address line 2</h5>
        <input class="form-control" [(ngModel)]="user.address.addressLine2"/>
        <h5>City</h5>
        <input class="form-control" [(ngModel)]="user.address.city"/>
        <h5>State</h5>
        <select class="form-control" [(ngModel)]="user.address.state">
          <option *ngFor="let state of stateKeys()" value="{{state}}">{{state | capitalize}}</option>
        </select>
        <h5>Zip Code</h5>
        <input class="form-control" [(ngModel)]="user.address.zipCode"/>
      </div>

      <div class="form-group">
        <h5>User roles:</h5>
        <div class="checkbox" *ngFor="let r of allRoles">
          <label><input type="checkbox" [(ngModel)]="r.checked"/>{{r.name | roleName | capitalize}}</label>
        </div>
      </div>

      <div class="form-group">
        <h5>Bill:</h5>
        <div *ngIf="bill">
          <label>Amount</label>
          <input class="form-control" [(ngModel)]="bill.amount"/>
          <label>Discount</label>
          <input class="form-control" [(ngModel)]="bill.discount"/>
        </div>
      </div>
    </div>

    <div class="container">
      <button class="btn btn-success" (click)="onSave()">Save</button>
      <button class="btn btn-primary" (click)="goBack()">Go Back</button>
    </div>

    <hr/>
  </div>
</div>
