<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>About Us</h1>

      <h3>We are <span class="Uppercase">AMNG</span>,
        <span class="Uppercase">A</span>merican
        <span class="Uppercase">M</span>uslim
        <span class="Uppercase">N</span>ew
        <span class="Uppercase">G</span>eneration
      </h3>
      <p>We are ..., found at ..., we provide ..., you can ... </p>
      <p>As a ... organization, we integrate and optimize campaigns including AA, BB, CC, DD</p>

      <p>We provide good opportunity for our customers with EE, FF GG, look forward to HH, II</p>

      <p>Today, we have JJ, KK, LL, and we'll continue to MM, NN.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Contact Us:</h3>
      <p>Contact Person: Mr.Example</p>
      <p>Phone: (xxx)xxx-xxxx</p>
      <p>Email: xxxx@xxxx.xxx</p>
    </div>
  </div>
  <img src="assets/logo.png" style="width:300px; height:300px;"/>
</div>

