<button (click)="onClick(template)" class="btn btn-success">Register</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Who you want to register this session?</h4>
  </div>
  <div class="modal-body">
    <label>Children list:</label>
    <select [(ngModel)]="selectedChild" type="text" class="form-control">
      <option *ngFor="let c of children" [ngValue]="c">{{c.firstname}} {{c.lastname}}</option>
    </select>
    <hr/>
    <div class="form-group">
      <button type="button" class="btn btn-success form-control" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
</ng-template>
