<div class="container">
            <form class="form-horizontal" role="form">
                <h2>Course Registration</h2>
                <div class="form-group">
                    <label for="program" class="col-sm-3 control-label">Program</label>
                    <div class="col-sm-9">
                        <select id="program" class="form-control">
                            <option value="Arabic">Arabic</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="course" class="col-sm-3 control-label">Course</label>
                    <div class="col-sm-9">
                        <select id="course" class="form-control">
                            <option value="Arabic Level I">Arabic Level I</option>
                            <option value="Arabic Level II">Arabic Level II</option>
                            <option value="Arabic Level I">Arabic Level III</option>
                        </select>
                    </div>
                </div>

                <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="uncknownRadio" value="Unknown">Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
