<div class="canvas">
  <div class="container">
    <div class="middle">
      <h1>Sorry, looks like you enter an infinite loop...</h1>
      <code class="statement">while (<span style="color:#4D30E0">true</span>) &#123;</code>
      <br /><br /><br /><br /><br />
      <div id="infinity">
        <div id="ball" class="moveball"></div>
        <div id="ball2" class="moveball"></div>
        <div id="ball3" class="moveball"></div>
        <div id="ball4" class="moveball"></div>
        <div id="ball5" class="moveball"></div>
      </div>
      <br /><br /><br /><br />
      <a class="hp" routerLink="/home" shape="rect">
        <div id="left"></div>
        <code id="break" class="statement">
          <span style="color:#4D30E0">break</span><span>;</span>
        </code>
        <div id="right"></div>
      </a>
      <br /><code class="statement">&#125;</code>
      <br />
      <h2><b>404 Not Found</b></h2>
    </div>
  </div>
</div>
